html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #000;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: rgb(238, 3, 3);
    padding: 15px 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.photo {
    height: 250px;
    background: url('https://wallpaperaccess.com/full/85850.jpg') center / cover no-repeat;
    padding: 100px 20px;
    color: rgba(201, 8, 53, 0.7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background: rgb(40, 35, 35);
}

.feature {
    width: 30%;
    background: #eb113c;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container {
    margin: 50px 20px;
    padding: 20px;
}

.login-container h1 {
    color: rgb(255, 0, 0);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 48, 48);
    color: rgb(249, 7, 7);
    height: 70px;
}

.login-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 8px;
    background-color: #c70c3b;
    transition: background 0.3s ease;
}

.login-link:hover {
    background-color: #a00a2f;
}

